* {
    box-sizing: border-box;
}

body {
    background-color: #1F1F1F;
    color: #CCCCCC;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}